:root {
    --white: #fff;
    --black: #000;
    --blue: #2196f3;
    --orange: #fa5b0f;
    --yellow: #ffb400;
    --green: #72b626;
    --heading: #302e4d;
    --text: #504e70;
    --background-dark: #f2f2fc;
    --pink: #ffb400;
    --border-dark: #d4d4e3;
    --light-background: #fdf9ff;
  }